body {
    background-color: black;
    color: white;
}

.container {
    text-align:center;
}

header {
    text-align:center;
    font-size: 25px;
}

.logo {
    border: none;
    margin-right: 2%;
    text-align: none;
    margin-top: -7%;
    width: 7%;
    margin-left: 87%;
    height: 11%;
    position: absolute;
}

header p {
    color: #01b4e4;
}

.searchForm {
    margin-bottom: 2%;
}

button {
    border-radius: 10%;
    border: #0d253f solid 4px;
    padding: 8px 25px;
}
.userSearch {
    width:80%;
    height: 40px;
    text-align:center;
    font-size: 25px;

}

button {
    background-color:#90cea1;
    margin-top: 5%;
}

/* .movieSection{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow-x:auto;
    margin-top: 5%;
} */

img {
    width: 280px;
    height: 280px;
    margin-right:1%;
    margin-top:2%;
    border: white solid 1.5px;
}

.movieImage:hover {
    margin: 15px 15px;
    transform: scale(1);
}

.noImage {
    margin-right: auto;
  }
.noImage img {
    width: 215px;
}

.noResults {
    text-align:left;
}

.noResults_text {
    margin-left:7%;
}

.noResults img {
    border:none;
}

.information {
    border: 1px solid blue;
    height:300px;
    display:none;
}

.displayInformation {
    display:block;
}

/* Moto G4 & Galaxy S5 */
@media (min-width: 320px) {
    img {
        width: 80%;
        height: 55%;
        margin: auto;
        margin-top:10%;
        border: white solid 1.5px;
        display:block;
    }    

    button {
        font-size: 22px;
    }

    .logo {
        margin-right: 2%;
        text-align: none;
        margin-top: -34%;
        width: 10%;
        margin-left: 85%;
        height: 6%;
        position: fixed;
    }
}

/* iPad */
@media (min-width: 768px) {

    header {
        font-size: 150%;
    }
    img {
        width: 27%;
        height: 300px;
        margin: auto;
        margin-top:10%;
        border: white solid 1.5px;
    }    

    button {
        font-size: 35px;
    }

    #searchList {
        display:flex;
        flex-wrap:wrap;
    }

    .userSearch {
        height: 60px;
        font-size:35px;
    }
    .logo {
        margin-top: -13%;
        width: 12%;
        margin-left: 83%;
        height: 9%;
    }

}

/* iPad Pro */
@media (min-width: 1024px) {
    img {
        width: 30%;
        height: 460px;;
    }    

    button {
        font-size: 40px;
        margin-top:2%;
    }

    .userSearch {
        height: 80px;
        font-size: 50px;
    }

    .noResults img {
        width:50%;
    }
    .noResults_text {
        margin-left: 10%;
        font-size: 200%;
    }
    .logo {
        margin-top: -10%;
    }

}

@media only screen and (min-width:1100px) {
    .userSearch {
        height:50px;
        font-size:35px;
    }

    button {
        font-size:30px;
        margin-top:0%;
    }

    img{
        width:22%;
        height:390px;
        margin-top:5%;
    }
    .noResults img {
        width: 40%;
    }
    .logo {
        width:10%;
        height:15%;
    }

}

@media only screen and (min-width:1365px) {
    .userSearch {
        height:50px;
        font-size:35px;
    }

    button {
        font-size:30px;
        margin-top:0%;
    }

    img{
        width:22%;
        height:450px;
        margin-top:5%;
    }
    .noResults img {
        width: 40%;
        height:55%;
    }
    .logo {
        margin-top: -7%;
        width: 8%;
        height: 10%;
        margin-left: 88%;
    }
}

@media only screen and (min-width:1520px) {
    .userSearch {
        height:50px;
        font-size:35px;
    }

    button {
        font-size:30px;
        margin-top:0%;
    }

    img{
        width:22%;
        height:505px;
        margin-top:5%;
    }
    .noResults img {
        height: 70%;
        width: 45%;
    }
    .logo {
        margin-top: -6%;
        width: 7%;
        height: 11%;
        margin-left: 89%;
    }
}





